/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto+Condensed&display=swap');


main,
header {
    max-width: 90%;
    margin: auto;
}

/* stylses */
.container {
    margin-top: 30px;
    width: 100%;
}

.background {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 30px;
}

.headText {
    color: white;
}

.btn {
    height: 50px;
    width: 100px;
    background-color: rgb(204, 6, 6);
    cursor: pointer;
    border-radius: 5px;

}

.btn:hover {
    background-color: #0db215;
    color: white;
}

a {
    text-decoration: none;
}

.header-Info {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    padding: 111px 24px 111px 106px;
}

.title h1 {
    font-size: 60px;
}

.title p {
    font-size: 16px;
}

.title,
.head-Thumbnail {
    width: 50%;
    /* border: 3px solid skyblue; */

}

.head-Thumbnail>img {
    width: 90%;
    height: 560px;
    margin-top: 33px;
}

/* design for body  */
.live-Part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.menu {
    background-color: black;
    width: 300px;
    height: 270px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
}

.sub-info {
    width: 252px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 15px 5px;
    background-color: white;
}

#highlight-info {
    background-color: #DD0000;
    color: #FFFFFF;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.live-game {
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
    width: 250px;
    height: 362px;
}

.game-thumbnail img {
    /* width: 246px; */
    width: 100%;
    height: 175px;
}

.game-info {
    padding: 20px;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: #161616B2;
}

.transfer {
    border: 1px solid #161616;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}

.Transfer-Live {
    font-weight: 600;
}

a {
    color: black;
}

/* footer styles  */

footer {
    width: 100%;
    height: 333px;
    background-color: #161616;
}

.footer_goal {
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
    padding-top: 130px;
}

hr {
    width: 920px;
    border: 1px solid #FFFFFF1A;
}

.contact-Us {
    text-align: center;
    color: whitesmoke;
}

p>span {
    margin-right: 20px;

}






/* Responsive for Mobile  */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .header-Info {
        flex-direction: column;

    }

    .title {

        width: 80%;
        padding: 5%;
        text-align: center;
    }

    .title>h1 {
        font-size: 5px;
    }

    .btn {
        color: white;
        font-size: 15px;
        max-width: 100%;
        height: auto;
    }



    .title h1 {
        font-size: 20px;
    }

    .title p {
        font-size: 10px;
    }

    .head-Thumbnail>img {
        max-width: 100%;
        height: auto;
        margin-top: 33px;
    }

    /* ************************* */
    /* for body responsive  */
    /* ************************************** */
    .live-Part {
        display: flex;
        flex-direction: column;
    }

    .game {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .menu {
        background: none;
        width: 100%;
        height: auto;
        border-radius: 10px;

        position: relative;
        top: 0;
    }

    .sub-menu {

        width: 50%;
        height: auto;
        justify-content: space-between;
    }

    .sub-info {
        width: 100%;
        height: auto;
        border: none;
        box-shadow: 3px 3px black;
        border-radius: 10px;
        text-align: center;
        padding: 0px 5px;
        /* background-color: white; */
    }

    #highlight-info {
        width: 100%;
        text-align: center;
    }

    /* game responsive  */
    .live-game {
        box-shadow: 2px 2px 4px black;
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    /* footer responsive  */
    footer {
        width: 100%;
        margin-top: 5px;
        border-radius: 10px;
        overflow-y: auto;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* till not worded  */
}

/* Responsive for Tab  */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .title h1 {
        font-size: 30px;
    }

    .title p {
        font-size: 13px;
    }

    /* ************************* */
    /* for body responsive  */
    /* ************************************** */

    .live-Part {
        display: flex;
        flex-direction: column;
    }

    .game {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .menu {
        background: none;
        width: 100%;
        height: 80px;
        border-radius: 10px;

        position: relative;
        top: 0;
    }

    .sub-menu {
        display: flex;
        /* border: 3px solid blue; */
        width: 100%;
        justify-content: space-between;
    }

    .sub-info {
        width: 202px;
        border: none;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0px;
        background-color: white;
    }

    /* liva game responsive */
    .live-game {
        box-shadow: 2px 2px 2px black;
        border-radius: 10px;
        width: 367px;
        height: 414.21px;

    }

    /* footer responsive  */
    footer {
        width: 100%;
        height: auto;
        overflow-y: hidden;
        margin-top: 20px;
    }




}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {


    .menu {
        width: 200px;
        height: 200px;
    }

    .sub-info {
        width: 150px;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
        padding: 5px 2px;
        background-color: white;
    }

    .live-game {
        box-shadow: 2px 2px 4px black;
        border-radius: 10px;
        width: 210px;
        height: 362px;
    }

    .game-info {
        padding: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* body {
        background-color: yellowgreen;
    } */


}